*{
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
  body {
      background:white;
      font-family: sans-serif;
    }

    section{
      padding-top: 92px;
    }
    
    .tree{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

.after10th img{
  margin-top: 2px;
  margin-left: 1px;
  margin-right: 1px;
  height: 394px;
  border: solid rgb(73, 5, 5);
}
.after10th h1{
  margin: 0;
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family:sans-serif;
    
}

